<strong>Olá, {{ student }} </strong>
<p>O professor da gympoint respondeu a sua pergunta:</p>
<p>
  <strong>Question:</strong> {{ question }} <br />
  <strong>Answer:</strong> {{ answer }} <br />
</p>